@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&display=swap');
*{
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}
/*All colors we used in this projet*/
:root{
	--navBg: #000000;

	--bgA: #d8e9f7;
	--bgB: #2e5614;
	--bgC: #095212;

	--btn: #006400;

	--text: #fff;
	--textb: #000;
}

/*-------navegation ber starts here-------*/
nav{
	position: absolute;
	height: 60px;
	width: 100%;
	position: fixed;
	align-items: center;
	display: flex;
	background: var(--navBg);
	justify-content: center;
}
nav ul{
	list-style: none;
	padding: 0;
	margin-top: -8px;
	position: absolute;
}
nav ul li{
	float: left;
	margin: 0;
}
nav ul li a{
	width: 150px;
	color: #fff;
	display: block;
	text-decoration: none;
	font-size: 20px;
	margin-top: 10px;
	text-align: center;
	padding: 12px;
	font-family:'poppins', sans-serif;
	font-weight: 600;
}
nav ul li a:hover{
	background: #3673FC;
}
nav ul li ul{
	background: #000;
}
nav ul li ul li{
	float: none;
}
nav ul li ul{
	display: none;
}
nav ul li ul li a{
font-size: 15px;
}
ul li:hover ul{
display: block;
}

/*hero section started here*/
.hero{
	position: relative;
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background: linear-gradient(120deg, #fff 40%,#095212 40%);
	z-index: -1;
}
.title{
	position: absolute;
	transform: translate(10%, 240%);
	font-size: 4em;
	font-family:'poppins', sans-serif;
	font-weight: 600;
}
.description{
	position: absolute;
    right: 15%;
	font-size: 1.2em;
	font-family:'poppins', sans-serif;
	font-weight: 600;
	bottom: 25%;
}
/*home floating button//go to top Button starts here*/
/*.btn{
	position: absolute;
	height: 40px;
	width: 40px;
	background: darkgreen;
	position: fixed;
	border-radius: 50%;
	margin-top: -120px;
	right: 3%;
	text-align: center;
	justify-content: center;
	align-content: center;
	align-items: center;
	display: flex;
	cursor: pointer;
}
.btn::before{
	position: absolute;
	content: "";
	height: 50px;
	width: 50px;
	background: transparent;
	border-radius: 50%;
	border: 0.1px solid darkseagreen;
	z-index: -1;
}
.material-symbols-outlined {
	color: white;
    font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48
}*/
/*body's section started here*/
section{
	position: absolute;
	background: var(--bgA);
	width: 100%;
	z-index: -1;
}
.Service{
	position: relative;
	height: 100vh;
	width: 100%;
	z-index: -1;

	/*just in case image won't display on page// Use Color instead*/
	background: #2e5614;
}
 h2{
	font-size: 50px;
	color: #000;
	z-index: 2;
	transform: translateY(200px);
	text-align-last: center;
}
.adressA{
	position: absolute;
	height: 300px;
	width: 420px;
	margin: 0px 50px;
	background: linear-gradient(#ffffff05 10%, #095212);
	color: var(--text);
	bottom: 5%;
}
.adressB{
	position: absolute;
	right: 0;
	height: 300px;
	width: 420px;
	margin: 0px 50px;
	background: linear-gradient(#ffffff05 10%, #095212);
	color: var(--text);
	bottom: 5%;
}
h3{
	font-size: x-large;
	text-align: center;
	margin-top: 99px;
	color: var(--bgA);
}
p{
	font-size: larger;
	font-weight: 600;
	margin: 50px 20px;
}
/*----------link all the images// for Services--------------*/
.Service.Transport{
	background-image: linear-gradient(
		rgba(12, 3, 51, 0.3) ,
		rgb(11 11 12) 98%), url(images/hosp.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.Service.Security{
	background-image: linear-gradient(
		rgba(12, 3, 51, 0.3) ,
		rgb(11 11 12) 98%), url(images/security.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.Service.Construction{
	background-image: linear-gradient(
		rgba(12, 3, 51, 0.3) ,
		rgb(11 11 12) 98%), url(images/construction.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.Service.Cooks{
	background-image: linear-gradient(
		rgba(12, 3, 51, 0.3) ,
		rgb(11 11 12) 98%), url(images/cooks.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.Service.Supermarkets{
	background-image: linear-gradient(
		rgba(12, 3, 51, 0.3) ,
		rgb(11 11 12) 98%), url(images/supermarkets.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.Service.Plumbers{
	background-image: linear-gradient(
		rgba(12, 3, 51, 0.3) ,
		rgb(11 11 12) 98%), url(images/plumbers.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.Service.Engineers{
	background-image: linear-gradient(
		rgba(12, 3, 51, 0.3) ,
		rgb(11 11 12) 98%), url(images/engineers.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.Service.Restaurants{
	background-image: linear-gradient(
		rgba(12, 3, 51, 0.3) ,
		rgb(11 11 12) 98%), url(images/restaurants.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.Service.Pharmacies{
	background-image: linear-gradient(
		rgba(12, 3, 51, 0.3) ,
		rgb(11 11 12) 98%), url(images/pharmacies.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.Service.Hospitals{
	background-image: linear-gradient(
		rgba(12, 3, 51, 0.3) ,
		rgb(11 11 12) 98%), url(images/hospitals.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
